<% include partials/header %>
<h1>List of Campgrounds</h1>

<%= campgrounds %>
<% campgrounds.forEach(function(campground){ %>
    <div>
        <h4><%= campground.name %></h4>
        <img src="<%= campground.image %>" />
    </div>
<% }); %>

<% include partials/footer %>